a {
    text-decoration: none;
}
nav {
    font-family: monospace;
}
ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5ms;
}
li a {
    color: #fff;
}
li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}
li:focus-within a {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: block;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}
ul li ul li {
    clear: both;
    width: 100%;
}

